.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(44, 209, 38);
    font-size: 2rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(237, 37, 78, 0.7);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: rgb(255, 255, 255);
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: rgb(93, 10, 248);
}

.incorrect {
    background-color: rgb(250, 0, 0);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #ed254eff;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #ed254eff;
    width: 0%;
}

@media only screen and (max-width: 786px) {
    .choice-container {
        display: flex;
        margin-bottom: 0.8rem;
        width: 100%;
        border-radius: 4px;
        background: rgb(44, 209, 38);
        font-size: 2rem;
        min-width: 70rem;
    }

    .correct {
        background-color: rgb(93, 10, 248);
    }
    
    .incorrect {
        background-color: rgb(250, 0, 0);
    }
}

@media only screen and (max-width: 640px) {
    .choice-container {
        display: flex;
        margin-bottom: 0.8rem;
        width: 100%;
        border-radius: 4px;
        background: rgb(44, 209, 38);
        font-size: 2rem;
        min-width: 50rem;
    }

    .correct {
        background-color: rgb(93, 10, 248);
    }
    
    .incorrect {
        background-color: rgb(250, 0, 0);
    }
}